body {
	background-color: lightcyan !important;
}

.resumeTitle {
	font-weight: bold;
}
  
.grid-container {
	background-color: lightcyan !important;
	margin-top: 30px;
}
  
.contactList {
	list-style-type: none !important;
	margin-left: -0.025em;
}
.contactList a {
	font-weight: bold;
}

.contactList a:hover {
  text-decoration: underline;
}